; copy–paste this file into `secret.ini` and fill the proper values
[secret]

loki_logging_enabled = false
loki_url = CHANGE_ME_TO_URL
loki_username = CHANGE_ME_TO_USERNAME
loki_password = CHANGE_ME_TO_PASSWORD
